@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>*to the best vacation manager in the universe*</p>
    <img class="homeImg" src="/vacation.webp" alt="vacation"/>
</div>
